@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Home Page";
}


<!--<link rel="stylesheet" type="text/css" href="css/PhotoGallery.css" />-->

<div class="hero">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Model Train Clubs & Events</h1>
			<p class="lead text-muted">Your Source for Model Railroad Clubs and Events!</p>
			<p>
				<a href="/Club/Index" class="btn btn-primary my-2">View Clubs</a>
				<a href="/Meetup/Index" class="btn btn-primary my-2">View Events</a>
			</p>
		</div>
	</section>
		
	<div class="row">
		<div class="col-md-6">
			<div class="card mb-4 box-shadow">
				<img class="card-img-top" src="~/css/Conrail.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-6">
			<div class="card mb-4 box-shadow">
				<img class="card-img-top" src="~/css/Div8Show.jpg" alt="Card image cap">
			</div>
		</div>
	</div>
</div>

